@charset "UTF-8";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source sans pro';
}

body{
    background-color: #fff;
    width: 100vw;
}

.secao{
    width: 64rem;
    margin: 0 auto;
}

/*Header*/

.cabecalho{
    background-color: #00d8d8;
}

.cabecalho-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    font-size: 1.0625rem;
    text-decoration: none;
    padding-left: 2.5rem;
    color: #fff;
    font-weight: bold;
}


/*main*/

.corpo-conteudo{
    background-image: url(/assets/recepcao.png);
    background-position: 50% 65%;
    background-size: cover;
    width: 100vw;
    height: 43.75rem;
    
}

.corpo-conteudo-texto{
    position: relative;
}

.corpo-conteudo-titulo{
    position: absolute;
    top: 11.8125rem;
    font-size: 1.875rem;
    font-style: italic;
    color: #fff;
}

.sobre{
    padding-bottom: 6.25rem;
}

.sobre-conteudo-texto{
    text-align: center;
    padding: 3.125rem 0 1.25rem;
}

.sobre-conteudo-texto h2{
    font-size: 1.5625rem;
    padding-bottom: 1.25rem;
    color: #474747;
}

.sobre-conteudo-texto p{
    font-size: 1.0625rem;
    color: #474747;
}

.sobre-conteudo-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sobre-conteudo-info img{
    width: 12.5rem;
    height: 18.75rem;
}

.sobre-conteudo h2{
    padding-bottom: 0.9375rem;
    font-size: 1.5625rem;
    color: #474747;
}

.sobre-conteudo-lista{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 1.0938rem;
    color: #474747;
}

.especialidades{
    padding-bottom: 3.125rem;
}

.especialidades-conteudo-texto{
    text-align: center;
    padding-bottom: 3.125rem;
}

.especialidades-conteudo-texto h3{
    font-size: 1.25rem;
    padding-bottom: 0.9375rem;
    color: #474747;
}

.especialidades-conteudo-texto p{
    font-size: 1.0625rem;
    color: #474747;
}

.especialidades-conteudo-blocos{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 3.125rem;
}

.especialidades-blocos img{
    width: 20.625rem;
}

.especialidades-blocos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.blocos{
    box-shadow: 0rem 0.125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.308);
    border-radius: 0.3125rem;
}

.blocos p{
    font-size: 1.125rem;
    font-weight: bold;
    color: #474747;
    padding: 0.3125rem;
}

.especialidades-horarios{
    display: flex;
    justify-content: center;
}

.especialidades-horarios h4{
    text-align: center;
    color: #fff;
    background-color: #00d8d8;
    padding: 0.625rem 2.5rem;
}

.especialidades-horarios a{
    text-decoration: none;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contato-conteudo h3{
    font-size: 1.25rem;
    color: #474747;
    padding-bottom: 0.625rem;
}

.contato-conteudo p{
    font-size: 1rem;
    color: #474747;
    padding-bottom: 0.625rem;
}

.iframe{
    height: 31.25rem;
    width: 75rem;
    padding-bottom: 2.5rem;
}

/*Rodape*/

.rodape{
    width: 100vw;
    background-color: #217985;
}
.rodape-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape-conteudo p{
    color: #fff;
    font-size: 1.1875rem;
    padding-bottom: 0.9375rem;
}